html{
  background-image: url("up phone store.jpg") ;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.youtube{
  color:aqua;

}

.instagram{
  color:blue;

}
h4{
  color: green;

}

li{
  color: white;


}

h1 {
  color: blueviolet;
}

.networkunlocking {
  color:black ;
}
.icloudbypass {
  color: black;
}
.icloudremoval {
  color: black;
}
.googleaccountremoval {
  color: black;
}
