html{
  background-image: url("cellphone store.jfif") ;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
}
h4{
  color: green;

}

li{
  color: yellow;


}

h1 {
  color: blueviolet;
}

.networkunlocking {
  color: red ;
}
.icloudbypass {
  color: red;
}
.icloudremoval {
  color: red;
}
.googleaccountremoval {
  color: red;
}
.background{
  background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  color:aqua;
  height: 100vh;
  

}
