html{
  background-image: url("") ;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.youtube{
  color:aqua;

}

.instagram{
  color:purple;

}
h4{
  color: orange;

}

li{
  color: black;


}

h1 {
  color: blueviolet;
}

.networkunlocking {
  color:blue ;
}
.icloudbypass {
  color: blue;
}
.icloudremoval {
  color: blue;
}
.googleaccountremoval {
  color: blue;
}
